
/*------------------------------------
	tableB01
------------------------------------*/

table.tableB01 caption{
	padding-top:1.99em;/*24px*/
	padding-bottom:0.83em;/*10px*/
	font-weight: bold;
	text-align: left;
	font-size:100%;
	line-height:1.42;
	}


