table.tableA01 th {
	text-align: left;
}
table.tableA01 .sortKey {
	display: none;
}
th.tablesorter-header {
	background-image: url(../images/black-unsorted.gif);
	background-repeat: no-repeat;
	background-position: center right 2px;
	cursor: pointer;
}
th.tablesorter-headerSortDown {
	background-image: url(../images/black-asc.gif);
}
th.tablesorter-headerSortUp {
	background-image: url(../images/black-desc.gif);
}
th.dl_cat_number{
	max-width: 20%;
	white-space: nowrap;
}
th.dl_date{
	width: 16%;
	white-space: nowrap;
}
