/* ------------ tool-head ------------ */
#tool-head {
	padding: 1em;
}
#tool-head p{
	margin-top: 0.5em;
}
#tool-head .list-title {
	margin-top: 2em;
}
#tool-head ol,
#tool-head ul {
	margin-top: 1em;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
#tool-head .list-title + ol,
#tool-head .list-title + ul {
	margin-top: 0.3em;
}
#tool-head samp {
	display: block;
	font-weight: bold;
	padding: 1em 1.5em;
}

/* ------------ tool-contents ------------ */
#tool-contents {
	padding-bottom: 25px;
}
*html #tool-contents a:link, *html #product-item a:visited {
	text-decoration: none;
}
*html #tool-contents a:hover{
	text-decoration: underline;
}
#tool-contents .description p {
	padding-right: 15px;
	padding-left: 15px;
}
#tool-contents .txt_caution{
	font-size: 90%;
  padding: 0.5em 10px;
}

/* ------------ tool-item ------------ */
#tool-item table {
	width: 684px;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	margin: 1em 0 5px;
}
#tool-item table caption {
	padding: 8px 2px 2px;
	text-align: left;
}
#tool-item table th, #tool-item table td {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	padding: 7px;
}
#tool-item table th {
	min-width: 160px;
	background-color: #eff0f3;
}
#tool-item table a:link, #tool-item table a:visited, #tool-item table a:hover {
	background-image: url(../../../../common/img/icon_01.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 8px;
	display: block;
}
#tool-item table tr.change_history td dl dt{
	width: 68px;
	clear:left;
	float: left;
}
#tool-item table tr.change_history td dl dd{
	width: 410px;
	float: left;
}

/*------------------ item-downroad ------------------*/
#item-download {
	width: 645px;
	margin: 30px auto;
}
#item-download h4{
	margin-bottom: 10px;
}
#item-download h4 strong {
  font-size: 110%;
  color: #f00;
}
#item-download-text {
	height: 180px;
	width: 614px;
	padding: 15px;
	margin: 3px 0;
	overflow-y: scroll;
	border: 1px solid #cccccc;
}
#item-download-text p{
	margin-bottom: 15px;
}
#item-download-text ol.listB03{
  margin-top: 0.66em;
	margin-bottom: 0.83em;
}
#item-download-text ol.listB03 li{
  padding-top: 0.83em;
  margin-left: 22px;
}
#item-download-btn {
	margin: 30px auto;
	text-align: center;
}
#item-download-btn div {
	margin: 8px auto;
	text-align: center;
}

/*------------------ common ------------------*/
/* no-marker list */
.no-marker li {
	margin-left: 0!important;
	list-style-type: none;
}
.no-marker.letter1 li {
	padding-left: 1em;
	text-indent: -1em;
}
.no-marker.letter2 li {
	padding-left: 2em;
	text-indent: -2em;
}
